{{#link-to "pokemon.pokemon_id" data.species.name class="epd-c-evoCard__container"}}
  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon_id data.species.url}}.png" alt="" class="md-avatar">

  <h3 class="epd-c-evoCard__name">
    {{data.species.name}}
  </h3>

  <ul>
    {{#each evo_details as |evolve|}}
      {{#if evolve.evo_result}}
        <li class="epd-c-evoCard__method">{{evolve.evo_result}}</li>
      {{/if}}
    {{/each}}
  </ul>
{{/link-to}}
