$rt-breakpoint: breakpoint(sm);

$rt-spacing: spacing();
$rt-spacing-half: spacing(half);

$rt-font: 0.86rem;
$rt-font-large: 1.2rem;

$rt-gray: color(mono, light);
$rt-gray-light: color(mono, lighter);

.rtable {
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  
  text-align: left;
  line-height: 1.25;
  font-size: $rt-font;
  
  border: 1px solid $rt-gray;
  border-collapse: collapse;
  
  caption {
    margin: $rt-spacing-half 0 $rt-spacing;

    font-size: $rt-font-large;
  }

  thead tr { background-color: color(mono, blank); }
  
  tr {
    padding: $rt-spacing-half;

    background: tint(color(primary, lighter), 40%);
    border: 1px solid $rt-gray;
  }

  .rtable__secondaryRow {
    background-color: tint(color(secondary, lighter), 40%);
  }

  td { padding: $rt-spacing; }
  
  th {
    padding: $rt-spacing-half;

    font-size: $rt-font-large;
    text-transform: uppercase;
  }
}

@media screen and (max-width: $rt-breakpoint) {
  .rtable {
    border: 0;
    
    caption { font-size: $rt-font-large; }
    
    thead {
      position: absolute;
      padding: 0;
      width: 1px;
      height: 1px;
      margin: -1px;
      overflow: hidden;

      border: none;
      
      clip: rect(0 0 0 0);
    }
    
    tr {
      display: block;
      padding: 0 $rt-spacing-half;
      margin-bottom: $rt-spacing-half;

      border-bottom: 3px solid $rt-gray;
    }
    
    th,
    td { padding: $rt-spacing-half; }
    
    td {
      display: block;
      
      font-size: $rt-font;
      text-align: right;
      
      border-bottom: 1px solid $rt-gray;
      
      &::before {
        content: attr(data-label);
        
        float: left;
        
        font-weight: bold;
        text-transform: uppercase;
      }
      
      &:last-child { border-bottom: 0; }
    }
  }
}
