<div class="flex-100">
  <h3>
    {{cleanup-text model.name}}
  </h3>

  {{#each model.effect_entries as |entry|}}
    <p>
      {{ entry.short_effect }}
    </p>

    <p>
      {{ entry.effect }}
    </p>
  {{/each}}
</div>

<div class="flex-100">
  {{pokemon-filter
      name=model.name
      pokemon=pokemon_data}}
</div>
