<h3>
  {{ model.chain.is_baby }}
</h3>

<h5>
  Evolution Chain!
</h5>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore in consectetur architecto optio nemo deserunt rem, magnam officia placeat quod reprehenderit esse dolore aliquid alias ut repellat rerum qui ullam!
</p>
