<div class="epd-l-evolution__container">
  <div class="epd-l-evolution__column">
    {{evolution-card
      data=model.chain
      stage="1"}}
  </div>

  {{#if model.chain.evolves_to}}
    <div class="epd-l-evolution__arrow"></div>
    
    <div class="epd-l-evolution__column">
      {{#each model.chain.evolves_to as |stage_1|}}
        {{evolution-card
            data=stage_1
            stage="2"}}
      {{/each}}
    </div>

  {{/if}}
  
  {{#if model.chain.evolves_to}}
    {{#each model.chain.evolves_to as |stage_1|}}
      {{#if stage_1.evolves_to}}
        <div class="epd-l-evolution__arrow"></div>
        
        <div class="epd-l-evolution__column">
          {{#each stage_1.evolves_to as |stage_2|}}
            {{evolution-card
              data=stage_2
              stage="3"}}
          {{/each}}
        </div>

      {{/if}}
    {{/each}}
  {{/if}}
</div>
