<h5>
  {{ model.name }}
</h5>

<ul>
  {{#each model.pokemon_species as |pokemon|}}
    <li>
      {{#link-to 'pokemon.pokemon_id' pokemon.name}}
        {{ pokemon.name }}
      {{/link-to}}
    </li>
  {{/each}}
</ul>

{{outlet}}
