<h5>
  Moves!
</h5>

<ul>
{{#each sortedMoves as |move|}}
  <li>
    {{move.name}} at {{move.level}}
  </li>
{{/each}}
</ul>

<hr>

<ul>
{{#each tmMoves as |move|}}
  <li>
    {{ move.move.name }}
  </li>
{{/each}}
</ul>
