{{paper-input class="flex-50" label="Search moves" value=search_value onChange=(action "update_search")}}

<table class="rtable">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col" width="15%">Method</th>
    </tr>
  </thead>
  <tbody>
    {{#each filtered_moves as |move|}}
      <tr>
        <td data-label="Name">{{cleanup-text move.name}}</td>
        <td data-label="Method">Lvl {{move.level}}</td>
      </tr>
    {{/each}}
    {{#each filtered_tms as |move|}}
      <tr class="rtable__secondaryRow">
        <td data-label="Name">{{cleanup-text move.move.name}}</td>
        <td data-label="Method">Machine</td>
      </tr>
    {{/each}}
  </tbody>
</table>
