{{#paper-list}}
  {{#each engDex_reversed as |entry|}}
    {{#paper-item class="md-3-line md-long-text"}}
      <img src="/assets/images/games/{{entry.version.name}}.jpg" class="md-avatar">
      <div class="md-list-item-text">
        <h3>
          <strong>
            Pokemon {{cleanup-text entry.version.name}}
          </strong>
        </h3>
        <p>
          {{entry.flavor_text}}
        </p>
      </div>
    {{/paper-item}}
  {{/each}}
{{/paper-list}}
