.epd-l-main__container { min-height: 100vh; }

.epd-l-main__content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.epd-l-main__header { flex: 0 1 auto; }

.epd-l-main__body {
  padding: 0 spacing(half);
  flex: 1 1 auto;
}
