.epd-l-main__container { min-height: 100vh; }

.epd-l-main__sidenav { box-shadow: container(box-shadow, 2); }

.epd-l-main__sidenav-toggle {
  @include larger-than(lg) { display: none; }
}

.epd-l-main__sidenav-header { padding-left: rem(17px); }

.epd-l-main__content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.epd-l-main__body {
  padding: spacing();
  flex: 1 1 auto;
}
