.epd-l-pokemon__tabs {
  display: grid;
  margin-bottom: spacing(half);
  grid-gap: spacing(half);
  grid-template-columns: 1fr;

  @include larger-than(sm) { grid-template-columns: repeat(4, 1fr); }
}

.epd-l-pokemon__tabLink {}

.epd-l-pokemon__tabButton {
  margin: 0;
  width: 100%;

  .active > & { @include contra-color($primary); }
}
