.epd-l-pokemon__container {
  display: grid;
  height: 100%;
  grid-gap: spacing(quart);
  grid-template-columns: 1fr;
  grid-template-areas:
    'intro'
    'basics'
    'tabs'
    'tabWindow'
    'footer';

  @include larger-than(md) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      'intro basics basics'
      'tabs tabs tabs'
      'tabWindow tabWindow tabWindow'
      'footer footer footer';
  }
}

.epd-l-pokemon__intro {
  height: 100%;
  grid-area: intro;
}

.epd-l-pokemon__basics { grid-area: basics; }

.epd-l-pokemon__tabs { grid-area: tabs; }

.epd-l-pokemon__tabWindow { grid-area: tabWindow; }

.epd-l-pokemon__footer {
  display: flex;
  flex-direction: column;
  grid-area: footer;
  justify-content: space-between;

  @include larger-than(md) { flex-direction: row; }
}