.epd-l-pokemon__basics {
  display: grid;
  margin: 0;
  grid-gap: spacing(half);
  grid-auto-flow: dense;
  grid-template-columns: 1fr auto;

  background-color: color(mono, light);
  box-shadow: container(box-shadow, 1);
}

.epd-l-pokemon__basicTags,
.epd-l-pokemon__basicAbilities {
  display: flex;
  padding: spacing(half);
}

.epd-l-pokemon__basicTags {
  flex-direction: column;
  align-items: flex-end;
}

.epd-l-pokemon__basicTagGroup {
  @include clearfix();
  margin-bottom: spacing(half);
}

.epd-l-pokemon__basicAbilities {
  align-items: center;
  justify-content: center;

  text-transform: capitalize;
}
