$card-stages: (
  1: mono,
  2: primary,
  3: secondary
);

@each $number, $color in $card-stages {
  .epd-c-evoCard__container--stage-#{$number} {
    @include contra-color(color(#{$color}, lighter));

    .epd-c-evoCard__meta {
      border-top: 1px solid color(#{$color}, dark);
    }
  }
}

.epd-c-evoCard__container {
  padding: spacing(half);

  &:not(:last-of-type) { margin-bottom: spacing(half); }

  box-shadow: container(box-shadow, 1);
  transition: 0.5s;

  @include hovers(){
    box-shadow: container(box-shadow, 2);
    transition: 0.5s;
  }
}

.epd-c-evoCard__link {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: color(mono, darkest);

  @include hovers() { color: color(mono, darkest); }
}

.epd-c-evoCard__meta {
  align-self: stretch;

  text-align: center;
}

.epd-c-evoCard__name {
  margin: spacing(third) 0;

  text-transform: capitalize;
}

.epd-c-evoCard__method { font-style: italic; }
