$card-stages: (
  1: color(mono, lighter),
  2: color(primary, lighter),
  3: color(secondary, lighter)
);

@each $number, $color in $card-stages {
  .epd-c-evoCard__container--stage-#{$number} .epd-c-evoCard__link {
    @include contra-color($color);

    @include hovers() { @include contra-color($color); }

    .epd-c-evoCard__meta {
      border-top: rem(1px) solid invert($color);
    }
  }
}

.epd-c-evoCard__container {
  &:not(:last-of-type) { margin-bottom: spacing(half); }

  box-shadow: container(box-shadow, 1);
  transition: 0.5s;

  @include hovers(){
    box-shadow: container(box-shadow, 2);
    transition: 0.5s;
  }
}

.epd-c-evoCard__link {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include hovers() { color: color(mono, darkest); }
}

.epd-c-evoCard__img,
.epd-c-evoCard__meta { padding: spacing(half); }

.epd-c-evoCard__meta {
  align-self: stretch;

  text-align: center;
}

.epd-c-evoCard__name {
  margin: spacing(third) 0;

  text-transform: capitalize;
}

.epd-c-evoCard__method { font-style: italic; }
