.epd-c-imageChip {
  display: inline-flex;
  margin: spacing(quart);
  align-items: center;

  border-radius: spacing(triple);
  box-shadow: container(box-shadow, 1);
  background-color: color(mono, light);

  transition: 0.5s;

  .active > & {
    font-weight: bold;

    box-shadow: container(box-shadow, 2);
  }

  @include hovers() {
    box-shadow: container(box-shadow, 2);

    transition: 0.5s;
  }
}

.epd-c-imageChip__img {
  width: 1.5rem;
  height: auto;

  border-radius: 100%;
}

.epd-c-imageChip__text {
  padding: 0 spacing() 0 spacing(half);

  text-transform: capitalize;
}

@each $name, $color in $color-type-map {
  .epd-c-imageChip--#{$name} {
    @include contra-color($color);
  }
}

.epd-c-imageChip--shape { @include contra-color(color(mono, blank)); }
