$stat-bar-colors: (
  'very-high': color(primary, darker),
  'high': color(primary, dark),
  'medium': color(primary),
  'low': color(primary, lighter)
);

@each $label, $color in $stat-bar-colors {
  .epd-statBar__container--#{$label} {
    @include contra-color($color);
  }
}

.epd-statBar__container {
  position: relative;
  height: spacing(double) * 1.25;
  margin-bottom: spacing();
  max-width: 100%;
}

.epd-statBar__name {
  margin: 0 0 spacing(quart);

  text-transform: uppercase;
}

.epd-statBar__value {
  position: absolute;
  top: spacing(half);
  right: spacing(half);
  bottom: spacing(half);

  text-align: center;

  transform: rotate(-90deg);
  font-weight: 300;
}
