{{#paper-sidenav-container class="inner-sidenav epd-l-main__sidenav"}}

  {{#paper-sidenav
    class="md-whiteframe-z2"
    name="left2"
    open=leftSideBarOpen2
    lockedOpen=leftSideBarLockedOpen
    onToggle=(action (mut leftSideBarOpen2))}}
    {{#paper-toolbar as |toolbar|}}
      {{#paper-toolbar-tools}}
        EmberDex
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{#paper-content padding=true}}
      Abilities
    {{/paper-content}}
  {{/paper-sidenav}}

  {{#paper-card-content class="flex"}}
    <div class="epd-l-main__content">
      <div class="epd-l-main__header">
        {{#paper-button raised=true onClick=(action "toggle" "leftSideBarLockedOpen")}}
          {{if leftSideBarLockedOpen "Unlock" "Lock"}}
        {{/paper-button}}
      </div>

      <div class="epd-l-main__body">
        {{outlet}}
      </div>
    </div>
  {{/paper-card-content}}

{{/paper-sidenav-container}}

