{{#paper-sidenav-container class="inner-sidenav"}}

  {{#paper-sidenav
    class="md-whiteframe-z2 md-sidenav-left epd-l-main__sidenav"
    name="left2"
    open=leftSideBarOpen
    onToggle=(action (mut leftSideBarOpen))}}
    {{#paper-toolbar accent=true tall=true class="epd-l-main__sidenav-header"}}
      <span class="flex"></span>
      <h1>
        EmberDex
      </h1>
    {{/paper-toolbar}}
    {{#link-to "type"}}
      {{#paper-content padding=true}}
        Types
      {{/paper-content}}
    {{/link-to}}
    {{#link-to "pokemon_color"}}
      {{#paper-content padding=true}}
        Colors
      {{/paper-content}}
    {{/link-to}}
    {{#link-to "pokemon_shape"}}
      {{#paper-content padding=true}}
        Shapes
      {{/paper-content}}
    {{/link-to}}
  {{/paper-sidenav}}

  {{#paper-card-content class="flex"}}
    <div class="epd-l-main__content">
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          {{#paper-button iconButton=true onClick=(action "toggle" "leftSideBarOpen") class="epd-l-main__sidenav-toggle"}}
            {{paper-icon "menu"}}
          {{/paper-button}}
          <h2>
            Toolbar with Icon Buttons
          </h2>
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}

      <div class="epd-l-main__body">
        {{outlet}}
      </div>
    </div>
  {{/paper-card-content}}

{{/paper-sidenav-container}}

