<h2>
  Generations!
</h2>

{{#each model as |gen|}}
  {{#link-to "generation.generation_id" gen.id}}
    {{#paper-button primary=true class="epd-l-pokeFilter__button"}}
      Gen {{gen.name}}
    {{/paper-button}}
  {{/link-to}}
{{/each}}

{{outlet}}
