<h3>
  Growth rates!
</h3>

{{#each model as |rate|}}
  {{#link-to "growth_rate.growth_rate_id" rate.id}}
    {{#paper-button primary=true class="epd-l-pokeFilter__button"}}
      {{cleanup-text rate.name}}
    {{/paper-button}}
  {{/link-to}}
{{/each}}

{{outlet}}
