<h1>
  Hello there!
</h1>

<p>
  EmberDex is a small side-project of mine for using the <a href="https://pokeapi.co/" target="_blank">Pokemon API</a> with the Ember App framework with <a href="https://miguelcobain.github.io/ember-paper/" target="_blank">Ember Paper</a>. It's made for simple browsing around different categories of Pokemon and viewing their basic info, like their stats and pokedex entries. Check out some of the categories in the side navigation!
</p>

<p>
  You can see the <a href="https://github.com/maxx1128/ember-pokedex" target="_blank">source code on Github</a>, or just visit <a href="http://maxwellantonucci.com/" target="_blank">my own website</a> if you're a nice person.
</p>