<h3>
  Habitats!
</h3>

{{#each model as |habitat|}}
  {{#link-to "pokemon_habitat.pokemon_habitat_id" habitat.id}}
    {{#paper-button primary=true class="epd-l-pokeFilter__button"}}
      {{cleanup-text habitat.name}}
    {{/paper-button}}
  {{/link-to}}
{{/each}}

{{outlet}}
