<h3>
  Colors!
</h3>

{{#each model as |color|}}
  {{#link-to "pokemon_color.pokemon_color_id" color.id}}
    {{color-chip
      chipText=color.name
      color=color.name
    }}
  {{/link-to}}
{{/each}}

{{outlet}}
