<h3>
  Colors!
</h3>

{{#each model as |color|}}
  {{#link-to "pokemon_color.pokemon_color_id" color}}
    {{color-chip
      chipText=color
      color=color
    }}
  {{/link-to}}
{{/each}}

{{outlet}}
