<h3>
  Shapes!
</h3>

{{#each shape_chips as |shape|}}
  {{#link-to "pokemon_shape.pokemon_shape_id" shape.id}}
    {{image-chip
      chipText=shape.name
      color='shape'
      chipImage=shape.url
    }}
  {{/link-to}}
{{/each}}

{{outlet}}
