<h2>
  Types
</h2>

<ul>
{{#each model as |type|}}
  {{#link-to 'type.type-id' type.id}}
    {{image-chip
      chipText=type.name
      color=type.name
    }}
  {{/link-to}}
{{/each}}
</ul>

{{outlet}}
